.borders {
  border: 1px solid red;
}
.landing-body {
  display: flex;
  height: 100dvh;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  margin-top: 10px;
}
